/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FFD700; /* amarelo */
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #FFC107;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FFD700 transparent;
}